
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
.body{
        font-family: 'Quicksand', sans-serif;
}
.radio{
        display: inline-flex;
        overflow: hidden;
        height: 30px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.radio-input{
        display: none;
}
.radio-label{
        padding: 6px 10px;
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        background: #ff0000;
        cursor: pointer;
        transition: background 0.1s;
}
.radio-label:not(:last-of-type){
        border-right: 1px solid #ffc0c0;
}
.radio-input:checked + .radio-label{
        background: #ff8686;
}
.add{
        padding: 6px 10px;
        margin-left: 5px;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        color: #ffffff;
        background: #ff0000;
        cursor: pointer;
        outline: none;
        font-family: 'Quicksand', sans-serif;
        transition: background 0.1s;
}

.popup2 input {
	background-color: #eee;
	border: none;
	padding: 5px 5px;
	margin: 2px 0;
  width: 100%;
   outline: none;
}
.table{
        width: 360px;
}
.table td{
        padding-top: 10px;
}
.table td span{
        font-weight: bold;
}
.custom-shape-divider-bottom-1607516233 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1607516233 svg {
    position: relative;
    display: block;
    width: calc(210% + 1.3px);
    height: 115px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1607516233 .shape-fill {
    fill: red;
}
.hero{
        height: 100vh;
        background-color: #ffffff;
        position: relative;
}
.nav-bar{
        display: flex;
        padding-top: 30px;
        padding-right: 120px;
        padding-left: 120px;
}
.nav-logo {
        margin-top: 0;
        padding-top: 0;
}
.nav-logo img{
        width: 60px;
        height: 50px;
        padding-top: 0;
        margin-top: -10px;
}
.nav-links{
        flex: 1;
}
.nav-links ul{
        margin-left: 50px;
        display: inline;
}
.nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 8px 25px;
}
.nav-links ul a{
color: red;
text-decoration: none;
font-size: 16px;
font-weight: bold;
font-family: 'Quicksand', sans-serif;
}
.nav-links ul li::after{
        content: '';
        width: 0;
        height: 2px;
        background: red;
        display: block;
        margin: auto;
        transition: .5s;
}
.nav-links ul li:hover::after{
        width: 100%;
}
.btn-sign-in{
        padding: 10px 20px;
        border: 0;
        background: red;
        font-weight: bold;
        cursor: pointer;
        color: #ffffff;
        border-radius: 8px;
        outline: none;
        font-family: 'Quicksand', sans-serif;
}
.nav-links .btn-sign-in{
        float: right;
}
.main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 35px 5px auto;
        font-family: 'Quicksand', sans-serif;
        color: #000000;
        padding-left: 8%;
        margin-top: 5%;
        width: 100%;
}

.sub-menu{
        grid-column: 1/6;
        grid-row: 1/2;
        display: flex;
        flex-direction: row;
        width: 91%;
        height: 35px;
        position: relative;
        justify-content: space-between;
}

.select-box::-ms-expand {
   display: none;
}
.select-container{


}
.select {
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   width: 12em;
   height: 30px;
   line-height: 3;
   background: #ff0000;
   overflow: hidden;
   border-radius: .25em;
}
.select::after {
   content: '\25BC';
   position: absolute;
   top: -8px;
   right: 0;
   padding: 0px 12px;
   background: #ff0000;
   color: #ffffff;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}
.select-box {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance: none;
   outline:0;
   box-shadow:none;
   border:none !important;
   background:  #ff8686;
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   color:#fff;
   cursor:pointer;
   font-size: 1em;
   font-family: 'Quicksand', sans-serif;
}
select {

   outline:0;
   box-shadow:none;
   border: 1px solid red;
   background-image: none;
   padding: 0 .5em;
   cursor:pointer;
   font-size: 1em;
   width: 224px;
   font-family: 'Quicksand', sans-serif;
}

.content1{
        grid-column: 1/6;
        grid-row: 3/4;
        margin-top: 10px;
}

.div-hr{
        grid-column: 1/6;
        grid-row: 2/3;
        position: relative;
}
.main-hr{
        position: absolute;
        border: none;
        width:  91%;
        height: 4px;
        background: #ff0000;
        /* background: linear-gradient(to right, #ff0000 0%, #ffffff 100%); */
}
a{
        text-decoration: none;

}
h3{
        padding-bottom: 10px;
}
.act-span{
        padding: 5px 10px;
        border: 0;
        background: red;
        font-weight: bold;
        cursor: pointer;
        color: #ffffff;
        border-radius: 5px;
        outline: none;
	letter-spacing: 1px;
	transition: transform 80ms ease-in;
}
.act-img{
        width: 90px;
        height: 50px;
}
.card-container{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
}
.card-container .card{
        position: relative;
        width: 180px;
        height: 200px;
        background: #ffffff;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        transition: 0.5s;
        border: 3px solid red;
}
.card-container .card .circle{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #ff0000;
        clip-path: ellipse(60% 30% at 50% 5%);
        text-align: center;
}
.card-container .card .circle img{
        padding-top: 6px;
        width: 53px;
        height: 60px;
}
.card-container .card .contentt{
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 70px;
}
.card-container .card .contentt .div-link{
        position: absolute;
        width: 100%;
        margin-bottom: 5px;
        margin-top: 18px;
        padding-right: 5px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
}
.card-container .card .contentt .div-link button{
        padding: 2px 5px;
        width: 60px;
        font-size: 14px;
        border: 0;
        background: red;
        cursor: pointer;
        color: #ffffff;
        border-radius: 5px;
        outline: none;
	transition: transform 80ms ease-in;
}

.header{
        display: flex;
        flex-direction: row;
}

.main-text{
        display: grid;
        grid-template-columns: 55% auto;
        grid-template-rows: 1fr auto;
        font-family: 'Quicksand', sans-serif;
        color: #000000;
        margin-left: 5%;
}
.sp{
        font-size: 50px;
        color: red;
}
.text{
        grid-column: 1/2;
}
.bgimg{
        grid-column: 2/3;
}
.main-text h1{
        font-size: 50px;
        margin-bottom: 30px;
        margin-top: 20%;

}
.bg{
        width: 600px;
        height: 550px;

}
.nav-bar .fa{
        display: none;
}
.nav-bar .fas{
        display: none;
}
.h2{
        color: #ff0000;
        text-decoration: underline;
        margin-bottom: 10px;
}
.popup2 .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup2 .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:400px;
  height:400px;
  z-index:2;
  text-align:left;
  padding-top:10px;
  padding-left: 20px;
  box-sizing:border-box;
  border: none;
  border-radius: 10px;
}

.popup2 .close-btn {
  cursor:pointer;
  position:absolute;
  right:10px;
  top:10px;
  width:30px;
  height:30px;
  color:#ff0000;
  font-size:25px;
  font-weight:600;
  text-align:center;

}

.popup2.active .overlay {
  display:block;
}

.popup2.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-15%) scale(1);
}



.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:400px;
  height:550px;
  z-index:2;
  text-align:left;
  padding-top:45px;
  padding-left: 20px;
  box-sizing:border-box;
  border: none;
  border-radius: 10px;
}

.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:10px;
  top:10px;
  width:30px;
  height:30px;
  color:#ff0000;
  font-size:25px;
  font-weight:600;
  text-align:center;

}

.popup.active .overlay {
  display:block;
}

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}


@media (max-width: 700px){
        .main-text{
                margin: 50px 40px;
        }
        .main-text h1{
                font-size: 30px;
        }
        .text{
        grid-column: 1/3;
        }
        .select-container{
        display: none;
        }
        .bgimg{

}
        .nav-bar{
                padding: 10px 30px;
        }
        .fa-bars{
                position: absolute;
                right: 20px;
                top: 10px;
        }
        .nav-bar .fa{
                display: block;
                color: #ff0000;
                margin: 10px 25px;
                font-size: 22px;
                cursor: pointer;
        }
        .nav-bar .fas{
                display: block;
                color: #ffffff;
                margin: 10px 25px;
                font-size: 22px;
                cursor: pointer;
        }
        .nav-links{
                height: 100vh;
                width: 200px;
                background: red;
                top: 0;
                right: -200px;
                overflow: hidden;
                position: absolute;
                text-align: left;
                z-index: 2;
                transition: .5s;
        }
        .nav-links ul a{
                display: block;
                color: #ffffff;
        }
        .nav-links .btn-sign-in{
                float: none;
                margin-left: 25px;
                margin-top: 10px;
                background-color: #ffffff;
                color: red;
                outline: none;
        }
        .nav-logo img{
        width: 40px;
        height: 35px;
        padding-top: 0;
        margin-top: 0;
}
}