<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
    <link rel="stylesheet" href="style.css">
    <title>Together</title>
</head>
<body>
<div class="hero">
    <div class="nav-bar">
        <div class="nav-logo">
            <img src="to.png" alt="">
        </div>
        <div class="nav-links" id="nav-links">
            <i class="fas fa-times fa-lg" onclick="closeMenu()"></i>
            <ul>
                <a href="/"><li>HOME</li></a>
                <a href="/activities"><li>ACTIVITIES</li></a>
                <a href="/contact"><li>CONTACT</li></a>
            </ul>
            <span th:text="${session.fullName}"></span>&nbsp;&nbsp;<a th:href="${session.fullName != null} ? '/logout' : '/login'" class="btn-sign-in" th:text="${session.fullName != null} ? 'SIGN OUT' : 'SIGN IN'"></a>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </div>
    <div class="main">
        <div class="sub-menu">
            <div class="radio-container">
                <div class="radio">
                    <input type="radio" class="radio-input" value="option1" name="myRadio" id="myRadio1" onclick="showAll();" checked >
                    <label for="myRadio1" class="radio-label" >All Activities</label>
                    <input type="radio" class="radio-input" value="option2" name="myRadio" id="myRadio2" onclick="isOwner();">
                    <label for="myRadio2" class="radio-label">My Activities</label>
                </div>

                <input type="button" class="add" value="Add Activity +" onclick="togglePopup2()">
                <div class="popup2" id="popup-2">
                    <div class="overlay"></div>
                    <div class="content">
                        <div class="close-btn" onclick="togglePopup2()"><i class="far fa-window-close"></i></div>
                        <h2 class="h2">New Activity </h2>
                        <table class="table">

                            <form autocomplete="off" action="/addActivity" method="POST">
                                <tr>
                                    <td>
                                            <span>Activity </span>
                                    </td>
                                    <td>
                                        <input type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                            <span >Category </span>
                                    </td>
                                    <td>
                                        <select class="" name="format">
                                            <option selected disabled>Select Category..</option>
                                            <option value="Lunch">Lunch</option>
                                            <option value="Exercise">Exercise</option>
                                            <option value="Fika">Fika</option>
                                            <option value="Run">Run</option>
                                            <option value="Run">Meet</option>
                                        </select>
                                    </td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Max Participants </span>
                                    </td>
                                    <td>
                                        <select class="" name="format">
                                            <option selected disabled>Select Number..</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                            <span >Location </span>
                                    </td>
                                    <td>
                                        <input type="text" placeholder="" />
                                    </td>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span>Date</span>
                                    </td>
                                    <td>
                                        <input type="date" >
                                    </td>
                                </tr>
                                <tr>
                                    <td >
                                        <span>Time</span>
                                    </td>
                                    <td>
                                        <input type="time" >
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <br><button class="add" type="submit"> SAVE </button>
                                    </td>
                                </tr>
                            </form>
                        </table>

                    </div>
                </div>
            </div>

            <div class="select-container">
                <div class="select">
                    <select id="select-box" name="format" onchange="myCategory();">
                        <option selected disabled>Select Category..</option>
                        <option value="allCategories">Show All</option>
                        <option value="lunch">Lunch</option>
                        <option value="exercise">Exercise</option>
                        <option value="fika">Fika</option>
                        <option value="run">Run</option>
                        <option value="meet">Meet</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="div-hr"><hr class="main-hr"></div>
        <div class="content1">


            <div class="card-container">
                <div th:each="activity : ${activities}">
                    <div class="card" th:classappend="${((activity.isOwner == 0) ? 'myActivity ' : '') + activity.categoryName}">
                        <div class="circle">
                            <img th:src="${activity.categoryId} + '.png'">
                        </div>
                        <div class="contentt">
                            <span th:text="${activity.ActivityName}"></span><br>
                            <span th:text="${activity.location}"></span><br>
                            <span th:text="${#temporals.format(activity.ActivityDate, 'yyyy-MM-dd')}"></span><br>
                            <span th:text="${#temporals.format(activity.ActivityDate, 'HH:mm')}"></span><br>
                            <div class="div-link"><button th:onclick="|togglePopup('${activityStat.count}')|">Details</button></div>
                        </div>
                    </div>
                    <div class="popup" th:id="${activityStat.count}">
                        <div class="overlay"></div>
                        <div class="content">
                            <form name="form1" autocomplete="off" action="/addMemberToActivity" method="post">
                                <div class="close-btn" th:onclick="|togglePopup('${activityStat.count}')|"><i class="far fa-window-close"></i></div>
                                <h2 th:text="${activity.ActivityName}">Title</h2>
                                <table class="table2">
                                    <tr><td><span><strong>Category: </strong></span></td><td><span th:text="${activity.categoryName}"></span></td></tr>
                                    <tr><td><span><strong>location: </strong></span></td><td><span th:text="${activity.location}"></span></td></tr>
                                    <tr><td><span><strong>Max Participants: </strong></span></td><td><span th:text="${activity.maxMembers}"></span></td></tr>
                                    <tr><td><span><strong>Date: </strong></span></td><td><span th:text="${#temporals.format(activity.ActivityDate, 'yyyy-MM-dd')}"></span></td></tr>
                                    <tr><td><span><strong>Time: </strong></span></td><td><span th:text="${#temporals.format(activity.ActivityDate, 'HH:mm')}"></span></td></tr>
                                    <tr><td valign="top"><span><strong>Members: </strong></span></td>
                                        <td><div class="bloc">

                                            <input type="hidden" th:value="${activity.maxMembers}"/>
                                            <input type="hidden" th:value="${activity.categoryId}"/>
                                            <input type="hidden" th:value="${activity.isOwner}"/>
                                            <select name="lstValue" class="select1" th:id=" 'select' + ${activityStat.count}" multiple >
                                                <option value="empty" th:each="member : ${activity.activityMembers}" th:text="${member.fullName}">test</option>
                                            </select>

                                        </div></td></tr>
                                    <tr>
                                        <td>
                                            <input class="add" type="submit" value="SAVE">
                                        </td><td>
                                        <input name="txtValue" type="hidden" id="hidden-field" th:value="${session.fullName}"/>
                                        <input th:onclick="|addValue(select${activityStat.count}, addMe${activityStat.count})|" class="add" th:id="addMe+${activityStat.count}" type="button" name="add" value="Add Me +"/>

                                    </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="custom-shape-divider-bottom-1607516233">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
        </svg>
    </div>
</div>
    <script src="script.js"></script>
</body>
</html>
